---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://www.google.com/search?q=iphone+12
    method: GET
  response:
    body: "<!doctype html><html itemscope=\"\" itemtype=\"http://schema.org/SearchResultsPage\" lang=\"vi\"><head><meta charset=\"UTF-8\"><meta content=\"origin\" name=\"referrer\"><meta content=\"/images/branding/googleg/1x/googleg_standard_color_128dp.png\" itemprop=\"image\"><title>iphone 12 - Tìm trên Google</title><script nonce=\"irTl8YUjI5oKm4NoHcMEmQ==\">(function(){window.google={kEI:'0oM3YOrGDsyImAWO5JGIBA',kEXPI:'31',kBL:'sKia'};google.sn='web';google.kHL='vi';})();(function(){\nvar f=[];google.getEI=function(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttribute(\"eid\")));)a=a.parentNode;return b||google.kEI};google.getLEI=function(a){for(var b=null;a&&(!a.getAttribute||!(b=a.getAttribute(\"leid\")));)a=a.parentNode;return b};google.ml=function(){return null};google.log=function(a,b,c,d,g){if(c=google.logUrl[...]
