<div class="card-keyword">
  <div>Keyword: {{ .KeywordPresenter.Keyword.Keyword }}</div>
  <div>Status: {{ .KeywordPresenter.Keyword.Status }}</div>
  <div>Date: {{ date .KeywordPresenter.Keyword.CreatedAt "Y-m-d H:i:s" }}</div>
  <div>
    HTML:
    <a href="{{ urlfor `Keyword.ShowHTML` `:id` .Keyword.Id }}">View page</a>
  </div>
  <div>Total link: {{ .KeywordPresenter.Keyword.LinksCount }}</div>
  <div>
    Non-adwords links: {{ .KeywordPresenter.Keyword.NonAdwordLinksCount }}
    <ul>
      {{ range $link := .KeywordPresenter.Links.NonAdwordLinks }}
      <li>
        <a href="{{ $link }}">{{ $link }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  <div>
    Adwords links: {{ .KeywordPresenter.Keyword.AdwordLinksCount }}
    <ul>
      {{ range $link := .KeywordPresenter.Links.AdwordLinks }}
      <li>
        <a href="{{ $link }}">{{ $link }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  <div>
    ShopAdwords links: {{ .KeywordPresenter.Keyword.ShopAdwordLinksCount }}
    <ul>
      {{ range $link := .KeywordPresenter.Links.ShopAdwordLinks }}
      <li>
        <a href="{{ $link }}">{{ $link }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
